<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
      <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-2 text-muted"
    >
      <span>Acciones</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column">      
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="home"></span> Inicio          
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file"></span> Estatus
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="shopping-cart"></span> Presupuestos y giros
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="users"></span> Cuentas bancarias
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <span data-feather="users"></span> Cartas de patrocinio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="bar-chart-2"></span> Certificado deuda
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="layers"></span> Interacciones
        </a>
      </li>
    </ul>
    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted"
    >
      <span>Más información</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span> Actualización de datos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span> Proyecto apoyado
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span> Académica
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span> Permanencia
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span> Laboral
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span> Codeudores
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span> Documentos
        </a>
      </li>
    </ul>
  </div>
</nav>
