<div class="container">
  <div class="row">
    <div class="col-xs-12"><h3>Cartas de patrocinio</h3></div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <p>
        Acá podrá generar sus cartas y certificados necesarios para cumplir con
        los trámites asociados a su proyecto. Para generar el documento
        seleccione el idioma, elija el tipo de documento y finalice pulsando el
        link generar documento.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <h5 class="text-danger">A quien va dirigida</h5>
        <div class="col-xs-12">
          <label class="contRadio" *ngFor="let p of receptors">
            {{ p.name }}
            <input
              type="radio"
              [value]="p.id"
              name="person"
              [(ngModel)]="letter.person"
            />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <app-receptor-form *ngIf="letter.person === 2"></app-receptor-form>  
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <h5 class="text-danger">¿En qué idioma?</h5>
        <div class="col-xs-12">
          <label class="contRadio" *ngFor="let l of languages">
            {{ l.name }}
            <input
              type="radio"
              [(value)]="l.id"
              name="language"
              [(ngModel)]="letter.language"
              (change)="onChangeLanguage()"
            />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <h5 class="text-danger">¿Cúal carta?</h5>
        <div *ngFor="let l of currentLetters" style="font-size: 16px;">
          <div
            class="col-xs-12"
            *ngFor="let lett of l.list; index as i"
            [ngStyle]="{
              'background-color': i % 2 === 0 ? 'transparent' : '#eff0f1'
            }"
          >
            {{ lett }} - <a class="btn btn-link" (click)="getPdf()">Ver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
