<div class="col-xs-12">
  <footer class="fixed-bottom">
    <div class="alert alert-secondary mb-0" role="alert">
      <b
        >COLFUTURO: Fundación para el futurio de Colombia-------------------------------------------------- Carrera 15 No. 37 - 15 Bogotá, Colombia.</b
      >
    </div>
  </footer>
</div>
