<nav
  class="navbar fixed-top bg-white flex-md-row p-0"
  style="margin-bottom: 50px;"
>
  <div class="col-sm-3 col-md-2 mr-0 shadow" style="height: 70px;">
    <img
      src="https://www.colfuturo.org/sites/default/files/logo_colfuturo.png"
      class="img-responsive img-logo"
      alt="ColFuturo"
    />
  </div>
  <div class="col-sm-5 col-md-5 mr-0 border-bottom border-right" style="height: 70px;">
    <div class="float-right">
    <h5 class="text-danger mb-0">Luis Fernando Abello Criales</h5>
      <span>C.C 1.140.869.190 </span>
  </div>
  </div>
  <div class="col-sm-4 col-md-5 mr-0 border-bottom" style="height: 70px; font-size: 12px;">
    <p>Maestría/ Civil Enginieering <br>
    Politécnico Di Milano <br>
    Milano, Lombardia Italia <br>
    COLFUTURO / PCB / 2017 <br>
  </p>
  </div>
</nav>
