<app-navbar></app-navbar>
<div class="container-fluid mb-4">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex flex-wrap flex-md-nowrap pt-5 pb-2 mb-3">
        <router-outlet></router-outlet>
      </div>          
    </main>
  </div>
</div>
<app-footer></app-footer>
