<div class="row">
  <div class="col-xs-12">
    <form  #f="ngForm">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="name">Nombres</label>
          <input type="text" name="name" class="form-control" required />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="lastname">Apellidos</label>
          <input type="text" name="lastname" class="form-control" required />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="job">Cargo</label>
          <input type="text" name="job" class="form-control" required />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <h5 class="text-danger">A donde va dirigida</h5>
          <label for="company">Organización</label>
          <input type="text" name="company" class="form-control" required />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="address">Dirección</label>
          <textarea
            type="text"
            name="address"
            class="form-control"
            required
          ></textarea>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="details">Detalles (Apt, Ofi, Bloq, etc)</label>
          <input type="text" name="details" class="form-control" required />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="city">Ciudad</label>
          <input type="text" name="city" class="form-control" required />
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="country">País</label>
          <input type="text" name="country" class="form-control" required />
        </div>
      </div>
    </form>
  </div>
</div>
